@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
	margin: 20px 20px;
}

@media (max-width: 576px) {
	* {
		margin: 4px 4px;
	}

	h5,
	.mobile-header,
	.card-header,
	.card-footer,
	.main-today,
	.week-temp,
	.more-dates,
	.main-footer {
		font-size: 14px;
		font-weight: 100;
	}

	.mobile-header {
		margin-bottom: 10px;
	}

	.btn-secondary {
		font-size: 14px;
		font-weight: 300;
	}
}
