.CurrentWeather {
	max-width: 750px;
	margin: auto;
}

.card {
	background-color: #cbcafc !important;
}

.card-header,
.card-footer,
.main-today {
	color: #3e4a61 !important;
	font-family: 'Righteous', cursive;
}

.main-today {
	color: #3e4a61;
	font-family: 'Sarala', sans-serif;
	font-size: 18px;
}

.card-header,
.card-footer {
	background-color: #cef9b3 !important;
	font-size: 24px;
}

.fa-temperature-empty,
.fa-temperature-full {
	color: #dd06fa;
}

.fa-droplet {
	color: #0c9cee;
	font-size: 20px;
}

.fa-wind {
	color: #fd8a2c;
	font-size: 20px;
}

.alerts {
	color: #3e4a61;
	text-decoration: none;
}

.tempUnit {
	color: #3e4a61;
	font-weight: bolder;
	text-decoration: none !important;
}

.tempUnit:hover {
	color: #0c9cee;
	font-weight: bolder;
	text-decoration: none !important;
}
