.main-footer {
	background-color: #ffe3b0;
	color: #3e4a61;
	font-family: 'Righteous', cursive;
	font-size: 20px;
	max-width: 1000px;
}

.repo {
	color: #3e4a61;
	text-decoration: none !important;
}

.repo:hover {
	color: #0c9cee;
	text-decoration: none !important;
}
