.main-footer {
	background-color: #cef9b3;
	color: #3e4a61;
	font-family: 'Righteous', cursive;
	font-size: 20px;
	max-width: 700px;
	margin: auto;
}

.repo {
	color: #3e4a61;
	text-decoration: none !important;
}

.repo:hover {
	color: #0c9cee;
	text-decoration: none !important;
}
